<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">


        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css">

        <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>

        <link rel="stylesheet" href="/assets/css/admin/coupon.css">

        <link rel="stylesheet" href="/assets/css/admin/dashboard.css">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />



        <title>Admin Dashboard</title>
</head>

<body>

        <!-- Navbar -->
        <%- include('../../views/admin/adminNavbar.ejs') %>
                <!-- Navbar -->
                <br>


                <div class="container-fluid outerDiv" id="blur">
                        <div class="container-fluid conF-2">
                                <div class="row1">

                                        <div class="con-1 ">
                                                <div class="box-1">
                                                        <a href="" class="AdminLogo"><img src="/assets/images/admin.png"
                                                                        class="adminIcon" alt=""> <span
                                                                        class="adminName">Admin</span></a>
                                                </div>
                                                <a href="adminDashboard">
                                                        <button class="btns btnDashboard "><img class="img"
                                                                        src="/assets/images/grid.png" alt=""><span
                                                                        class="btnvalue">Dashboard</span></button>
                                                </a>
                                                <a href="ProductList">
                                                        <button class="btns btnProducts "><img class="img"
                                                                        src="/assets/images/grid.png" alt=""><span
                                                                        class="btnvalue">Products</span></button>
                                                </a>
                                                <a href="Category">
                                                <button class="btns btnCategory "><img class="img" src="/assets/images/grid.png"
                                                                alt=""><span class="btnvalue"><span>Category</span></button>
                                                </a>
                                                <a href="orderHistory">
                                                <button class="btns btnOrder"><img class="img" src="/assets/images/grid.png"
                                                                alt=""><span class="btnvalue">Order History</span></button>
                                                </a>
                                              <a href="coupon">
                                                  <button class="btns btnCoupon btnColor"><img class="img" src="/assets/images/grid.png"
                                                                alt=""><span class="btnvalue">Coupon</span></button>
                                              </a>
                                              <a href="salesReport">
                                                <button class="btns btnSRate"><img class="img" src="/assets/images/grid.png"
                                                                alt=""><span class="btnvalue">Sales Report</span></button>
                                              </a>
                                                
                                                <a href="CustomerDetails">
                                                        <button class="btns btnUser"><img class="img"
                                                                        src="/assets/images/grid.png" alt=""><span
                                                                        class="btnvalue">User Report</span> </button>
                                                </a>
                                                <a href="offers">
                                                        <button class="btns btnBanner"><img class="img" src="/assets/images/grid.png"
                                                                alt=""><span class="btnvalue">Offers</span></button>
                                                </a>
                                              
                                                <button class="btns btnWallet"><img class="img" src="/assets/images/grid.png"
                                                                alt=""><span class="btnvalue">Wallet</span></button>
                                        </div>

                                        <div class="con-2">
                                                <div class="row row2">
                                                        <div class="col-3 pageHead">
                                                                <h3>Coupons</h3>
                                                        </div>
                                                        <div class="col-6 col2">
                                                                <div class="col-12 col3">

                                                                        <input type="text" class="searchInput"
                                                                                name="search" required="true"
                                                                                id="exampleFormControlInput1"
                                                                                placeholder="Search ">
                                                                        <span><a href=""><i class="fa-solid fa-magnifying-glass searchBtn"
                                                                                                style="color: #8b8e99;"></i></a></span>
                                                                        </form>
                                                                </div>
                                                        </div>
                                                        <div class="col-3 col2">
                                                                <a><button class="btnExport" onclick="addCoupon()" id="addCoupon"><span><i
                                                                                                class="fa-regular fa-plus"
                                                                                                style="color: #ffffff;"></i></span>Add
                                                                                Coupons</button></a>
                                                        </div>
                                                </div>


                                                <div class="row row3">
                                                        <div class="col-7 col7">
                                                            <div class=" sort-UsageRow">
                                                                <a href="" id="all" style="color:blue;">All</a>
                                                                <span><a href=""  id="active"  style="color:green;">Active</a></span>
                                                                <span><a href=""  id="Expired" style="color:red;">Expired</a></span>
                                
                                                            </div>
                                                        </div>
                                                        <div class="col-5 sort-AddedRow">
                                                            <div class="dateBox">
                                                                <input type="date" class="dateInput" id="startDate">
                                                            </div>
                                                            <div class="dateBox2">
                                                                <input type="date" class="dateInput" id="endDate">
                                                            </div>
                                                        </div>
                                                </div>

                                                <div class="row" style="padding-left: 19px;padding-right: 19px;">
                                                        
                                                        <div class="headingDiv" style="width: 6%;">SI</div>
                                                        <div class="headingDiv" >Title</div>
                                                        <div class="headingDiv">code</div>
                                                        <div class="headingDiv">percentage</div>
                                                        <div class="headingDiv">open date</div>
                                                        <div class="headingDiv">end date</div>
                                                        <div class="headingDiv">minimum</div>
                                                        <div class="headingDiv">maximum</div>
                                                        <div class="headingDiv">Status</div>
                                                        <div class="headingDiv">Action</div>
                                                </div>
                                                <% coupons.forEach((val,index) => { %>
                                                <div class="row" style="padding-left: 19px;padding-right: 19px;">
                                                        
                                                        <div class="contentDiv" style="width: 6%;font-weight: bold;"><%= index+1 %></div>
                                                        <div class="contentDiv" ><%=val.title %></div>
                                                        <div class="contentDiv"><%=val.couponCode%></div>
                                                        <div class="contentDiv"><%=val.discountAmount%></div>
                                                        <div class="contentDiv"><%=val.startDate.toLocaleDateString()%></div>
                                                        <div class="contentDiv"><%=val.Expire.toLocaleDateString()%></div>
                                                        <div class="contentDiv"><%=val.minimumPurchase%></div>
                                                        <div class="contentDiv"><%=val.maxAmount%></div>
                                                        <div class="contentDiv status"><%=val.status%></div>
                                                        <div class="contentDiv ">
                                                                <% if(val.status ==='Listed') { %>
                                                                        <a onclick="changeStatus('Listed','<%=val._id%>')"  href="" ><i class="fa-solid fa-eye" style="color: #000000; font-size: 14pt; cursor: pointer;"></i></a>
                                                                    <% } else { %>
                                                                        <a onclick="changeStatus('Unlisted','<%=val._id%>')" href="" ><i  class="fa-solid fa-eye-slash" style="color: #000000; font-size: 14pt;cursor: pointer;"></i></a>
                                                                    <% } %>
                                                                    <a onclick="deleteOffer('<%=val._id%>')"  href="" ><i class="fa-solid fa-trash" style="color: #000000;font-size: 14pt;margin-left: 15px;cursor: pointer;"></i></a>
                                                        </div>
                                                </div>

                                                <% }) %>
                                
                                
                                        </div>
                                </div>
                        </div>
                </div>

                <div id="popup"><br>
                        <h3>Add Coupon</h3>
                        <br>
                        <div class="container formRow">
                                <label style="display: flex; justify-content: center;width: 80%;">
                                        
                                        <label for="" class="codeLabel">Coupon Code
                                                <input type="text" class="form-control CouponcodeInput"
                                                name="couponCode" id="code"
                                            placeholder="Please Generate your Coupon Code" required>
                                        </label>

                                        <button class="btngenerate" onclick="GenerateCode()">Generate</button>
                                         
                                </label>


                                <label style="display: flex; justify-content: center;width: 80%;">
                                        
                                        <label for="" class="codeLabel">Percentage %
                                                <input type="text" class="form-control CouponcodeInput"
                                                 id="percentage" style="border-right-color:#ced4da ;  border-top-right-radius: 5px;border-bottom-right-radius: 5px;"
                                            placeholder="Enter Percentage of Discount" required>
                                        </label>
                                         
                                </label>

                                <label style="display: flex; justify-content: center;width: 80%;">
                                        
                                        <label for="" class="codeLabel">Title
                                                <input type="text" class="form-control CouponcodeInput"
                                                id="title" style="border-right-color:#ced4da ;  border-top-right-radius: 5px;border-bottom-right-radius: 5px;"
                                            placeholder="Enter Title for Coupon" required>
                                        </label>
                                         
                                </label>


                                <label style="display: flex; justify-content: center;width: 80%;">
                                        <label for="dicountAmount"  class="inputLabel">StartDate 
                                                <input type="date" class="form-control input dateInput startDate" id="start" style="border: 1px solid #ced4da;" required>

                                        </label>

                                        <label for="expire"  class="inputLabel" style="margin-left: 5px;">  Expire On
                                                <input type="date" class="form-control input dateInput expireDate" id="expire" style="margin-left: 5px;border: 1px solid #ced4da;" required>
                                        </label>
                                        
                                </label>

                                

                                <label style="display: flex; justify-content: center;width: 80%;">
                                        <label for="dicountAmount"  class="inputLabel">Min Purchase 
                                                <input type="number" class="form-control input discountAmt"
                                                 id="min"
                                                placeholder="Enter Min Amount" required>
                                        </label>

                                        <label for="expire"  class="inputLabel" style="margin-left: 10px;">Max Discount Amount
                                                <input type="number" class="form-control input discountAmt"
                                                id="max"
                                                placeholder="Enter Max Amount" required>
                                               
                                        </label>
                                        
                                </label>

                        </div>
                        <br>
                        <div class="container" style="display: flex;justify-content: center;">
                                <button class="btn btnCancel" onclick="btnCancel()">Cancel</button>
                                <a href=""><button class="btn btnAdd" onclick="createCoupon()"  style="margin-left: 10px;">Add Coupon</button></a>
                        </div>
                </div>
                <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

                <script src="/assets/js/coupon.js"></script>
</body>

</html>