<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
            rel="stylesheet">
        <!-- Additional CSS Files -->
        <link rel="stylesheet" type="text/css" href="/assets/css/user/bootstrap.min.css">
        <!-- <link rel="stylesheet" type="text/css" href="/assets/css/user/font-awesome.css"> -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
        <link rel="stylesheet" href="/assets/css/user/templatemo-hexashop.css">
        <!-- <link rel="stylesheet" href="/assets/css/user/owl-carousel.css"> -->
        <!-- <link rel="stylesheet" href="/assets/css/user/lightbox.css"> -->
        <link rel="stylesheet" href="/assets/css/user/wishlist.css">
        <link rel="stylesheet" href="/assets/css/user/myOrder.css">
        <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.1/cropper.min.css" />

        <title>Document</title>
    </head>

    <body>




        <!-- ***** Header Area Start ***** -->
        <header class="header-area header-sticky" style="position: fixed;">
            <a class='menu-trigger' id="menuTrigger" style="position: relative;">
                <span>Menu</span>
            </a>
            <div class="container Nav-con-1">
                <div class="row row1">
                    <div class="col-10">
                        <nav class="main-nav" style=" margin-left: 20px;">

                            <!-- ***** Logo Start ***** -->
                            <a href="/" class="logo" style="padding: 0;">
                                <img src="/assets/images/logo.png">
                            </a>
                            <!-- ***** Logo End ***** -->
                            <!-- ***** Menu Start ***** -->
                            <ul class="nav">
                                <li class="scroll-to-section"><a href="/#top" class="active">Home</a></li>
                                <li class="scroll-to-section"><a href="/#men">Men's</a></li>
                                <li class="scroll-to-section"><a href="/#women">Women's</a></li>
                                <li class="scroll-to-section"><a href="/#kids">Kid's</a></li>
                                <li class="scroll-to-section"><a href="/#Contact">Contact</a></li>
                            </ul>


                        </nav>


                    </div>
                    <div class="col-2 col2">
                        <a href=""><i class="fa-solid fa-magnifying-glass searchIcon" style="color: #404040;"></i></a>
                        <a href="/shoppingcart">
                            <i class="fa-solid fa-cart-shopping cartIcon" style="color: #404040;"></i>
                        </a>
                        <a href="/Profile" class="profileLogo">
                            <img src="/assets/images/profile-Icon.png" class="profileIcon">
                        </a>
                    </div>
                </div>
            </div>
        </header>
        <!-- ***** Header Area End ***** -->



        <div class="container-fluid outerDiv" id="blur" style="padding: 0px;">
            <div class="container-fluid conF-1">
                <h3 class="myAccount">My Account</h3>
                <div class="row" style="min-height: 100vh;">
                    <div class="col-md-3 col-sm-12 col3">

                        <div class="row"
                            style="display: flex;align-items: center; padding-left: 20px; padding-top: 20px;">
                            <label for="imgInput">
                                <div class="circle">
                                    <img class="profile-pic" id="profilePic"
                                        src="https://t3.ftcdn.net/jpg/03/46/83/96/360_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg">
                                </div>
                                <input class="file-upload" id="imgInput" hidden type="file" accept="image/*"
                                    onclick="cropImage('imgInput','profilePic')" />

                            </label>
                            <p>Welcome , Shinith </p>
                        </div>


                        <ul>
                            <a id="changeIcon">
                                <li><i class="fa-regular fa-user menuIcon" style="color: black;"></i><span
                                        class="spanText">Account
                                        Settings</span>
                                    <span>
                                        <i id="icon" class="fa rightAngle">&#xf105;</i>
                                    </span>
                                </li>
                            </a>


                            <a href="/Profile" id="DropDownLi1" style="display: none;">
                                <li style="padding-left: 68px; height: 50px;">Profile Information <span><i
                                            style="font-size:24px;color:#494949;padding-left:63px;"
                                            class="fa rightAngle">&#xf105;</i></span></li>
                            </a>

                            <a href="profileMenu?menu=manageAddress" id="DropDownLi2" style="display: none;">
                                <li style="padding-left: 68px;height: 50px;">Manage Address <span><i
                                            style="font-size:24px;color:#494949;padding-left:79px;"
                                            class="fa rightAngle">&#xf105;</i></span></li>
                            </a>



                            <a href="profileMenu?menu=myOrders">
                                <li style="background-color: #afafaf;"><i
                                        class="fa-solid fa-cart-shopping cartIcon menuIcon"
                                        style="color: black;"></i><span class="spanText">My
                                        Orders</span>
                                    <span>
                                        <i style="font-size:24px;color:#494949;" class="fa rightAngle">&#xf105;</i>
                                    </span>
                                </li>
                            </a>
                            <a href="profileMenu?menu=wishlist">
                                <li><i class="fa fa-heart menuIcon" style="color: black;"></i><span
                                        class="spanText">Wishlist</span>
                                    <span>
                                        <i style="font-size:24px;color:#494949;" class="fa rightAngle">&#xf105;</i>
                                    </span>
                                </li>
                            </a>
                            <a href="">
                                <li><i class="fa-solid fa-receipt menuIcon" style="color: black;"></i><span
                                        class="spanText">Coupons</span>
                                    <span>
                                        <i style="font-size:24px;color:#494949;" class="fa rightAngle">&#xf105;</i>
                                    </span>
                                </li>
                            </a>
                            <a href="/logout">
                                <li><img src="/assets/images/logout.png" class="logoutImg"><span class="spanText"
                                        style="padding-left: 30px; font-size: 13pt;">Logout</span>
                                    <span>
                                        <i style="font-size:24px;padding-left: 10px; color:#494949;"
                                            class="fa rightAngle">&#xf105;</i>
                                    </span>
                                </li>
                            </a>
                        </ul>
                    </div>
                    <div class="col-md-9 col-sm-12 col9" id="trackOrder"  style="display: none;">
                        <div class="row deliveryAddress">
                            <div class="col-6 leftRow" >
                                <h4>Delivery Address</h4>
                                <p style="font-size: 13pt;margin-top: 13px;font-family:Poppins; font-weight: 500;">Shinith.P </p>
                                <p style="font-size: 11pt;font-weight: 400; width: 350px; padding: 0; margin-top: 5px;">
                                    Beena Nivas Uruvachal Po. Uruvachal <span>Kannur
                                    </span> <span>,Kerala</span><span>-670702</span>
                                </p>
                                <h6 style="margin-top: 10px;font-family: Poppins;font-size: 12pt;">Phone Number : <span style="padding-left: 2px;font-size: 11pt;color:#404040;">7306552573</span></h6>
                                <h6 style="margin-top: 10px;font-family: Poppins;font-size: 12pt;">Email : <span style="padding-left: 2px;font-size: 11pt;color:#404040;">shinithp78@gmail.com</span></h6>
                            </div>
                            <div class="col-6 rightRow">
                                <h4>Product Details <span><input type="button" class="btn btncancelOrder" value="Cancel Order"></span></h4>
                                <a href="" style="display:flex;align-items: center;">
                                     <img src=""  alt="" style="height: 80px;width: 80px; ">
                                    <p style="padding-left: 20px;">Abstract Short Sleeve Shirt</p>
                                </a>
                                <h6 style="padding-top: 10px;">Brand Name : <span style="color: #404040;">Shae by SASSAFRAS</span></h6>
                                <h6 style="padding-top: 10px;">Price : ₹<span style="color: #404040;">3240</span></h6>
                            </div>
                        </div>

                        <div class="card card-timeline px-2 border-none">
                            <ul class="bs4-order-tracking">
                                <li class="step active">
                                    <div><i class="fas fa-user"></i></div> Order Placed
                                </li>
                                <li class="step active">
                                    <div><i class="fas fa-bread-slice"></i></div>Order Confirmed
                                </li>
                                <li class="step">
                                    <div><i class="fas fa-truck"></i></div> Out for delivery
                                </li>
                                <li class="step ">
                                    <div><i class="fas fa-birthday-cake"></i></div> Delivered
                                </li>
                            </ul>
                            <h5 class="text-center"><b>In transit</b>. The order has been shipped!</h5>
                        </div>
                    </div>

    

                    <div class="col-md-9 col-sm-12 col9" id="orderList">
                        <h3 style="width: 100%;">My Orders</h3>

                        <% orderDetails.forEach((item)=> { %>
                            <div class="container con2" style="margin-top: 13px;">
                                <div class="row con2Row1">
                                    <div class="col-1 rowcol6-1">
                                        <img src="<%=item.productID.files[0].url%>" alt="">
                                    </div>
                                    <div class="col-7 rowcol6-2">
                                        <p>
                                            <%=item.productID.ProductName%>
                                        </p>
                                        <ul class="stars">
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                        </ul>
                                    </div>
                                    <div class="col-4 rowcol6-3">
                                        <button class="btn" id="remove" onclick="TrackOrder()">Track Order</button>

                                    </div>
                                </div>
                                <% let orderDate=new Date(item.OrderDate); let deliveryDate=new
                                    Date(orderDate.setDate(orderDate.getDate() + 7)); %>
                                    <div class="row con2Row2">
                                        <div class="col-4 rowcol4-1">
                                            <h5>Delivery Date</h5>
                                            <p>
                                                <%= deliveryDate.toLocaleDateString() %>
                                            </p>
                                        </div>
                                        <div class="col-4 rowcol4-2">
                                            <h5>Total Amount</h5>
                                            <p>₹<%=item.Amount%>
                                            </p>
                                        </div>
                                        <div class="col-4 rowcol4-3">
                                            <h5>Status</h5>
                                            <p>Delivered</p>
                                        </div>
                                    </div>
                            </div>
                            <% }) %>
                    </div>
                    
                </div>
            </div>
        </div>

        <script>
            function TrackOrder() {
                const orderList = document.getElementById('orderList')
                const trackOrder = document.getElementById('trackOrder')
                orderList.style.display = 'none'
                trackOrder.style.display = 'block'
            }
        </script>


        <!-- eFooter starts here... -->
        <%- include('../../views/user/footer.ejs') %>
            <!-- Footer end  here... -->





            <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.1/cropper.min.js"
                integrity="sha512-9KkIqdfN7ipEW6B6k+Aq20PV31bjODg4AA52W+tYtAE0jE0kMx49bjJ3FgvS56wzmyfMUHbQ4Km2b7l9+Y/+Eg=="
                crossorigin="anonymous" referrerpolicy="no-referrer"></script>

            <script src="/assets/js/accountSettings.js"></script>




            <!-- jQuery -->
            <!-- <script src="/assets/js/jquery-2.1.0.min.js"></script> -->

            <!-- Bootstrap -->
            <!-- <script src="/assets/js/popper.js"></script>
            <script src="/assets/js/bootstrap.min.js"></script> -->

            <!-- Plugins -->
            <!-- <script src="/assets/js/owl-carousel.js"></script>
            <script src="/assets/js/accordions.js"></script>
            <script src="/assets/js/datepicker.js"></script>
            <script src="/assets/js/scrollreveal.min.js"></script>
            <script src="/assets/js/waypoints.min.js"></script>
            <script src="/assets/js/jquery.counterup.min.js"></script>
            <script src="/assets/js/imgfix.min.js"></script>
            <script src="/assets/js/slick.js"></script>
            <script src="/assets/js/lightbox.js"></script>
            <script src="/assets/js/isotope.js"></script> -->

            <!-- Global Init -->
            <!-- <script src="/assets/js/custom.js"></script> -->


    </body>

    </html>

</body>

</html>